*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    top: 0;
    left: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 99%);
}
.header{
    background-color: rgb(187, 203, 209);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
   
}
.nav a{
    padding-right: 10px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    color: grey;
    transition: .5s;
}
.nav a:hover{
    color: rgb(37, 34, 34);
   
}
.container{
  color: white;
        height: 260px;
        width: 550px;
        margin-top: 150px;
        margin-left: 150px;  
}

.container h3{
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(242, 242, 245);
    font-size: 25px;
}
h1{
    font-size: 35px;
    
}

.container p{
    width: 500px;
    line-height: 1.50;
}
.btn1{
    width: 150px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(187, 203, 209);
    background-color: transparent;
    color: rgb(187, 203, 209)t;
    cursor: pointer;
    position: relative;
}
.layer{
   background-color: rgb(187, 203, 209);
   width: 0%;
   height: 100%;
   position: absolute;
   left: 0;
   bottom: 0;
   border-radius: 5px;
   z-index: -1;
   transition: .6s;

}
.btn1:hover{
    border: none;
    color: black;
}
.btn1:hover .layer{
    width: 100%;
}
img{
    width: 400px;
    height: 400px;
    margin-left: 650px;
    margin-top: -300px;
    border-radius: 10px;
    border: 1px solid rgb(2,0,36);
}
h4{
margin-right: 500px;
margin-top: 60px;
margin-left: -450px;
}


